.header{
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 80px;
}

.header-text{
    font-weight: 900;
}

.header-links{
    font-size: 18px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
  }


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }