.header{
    font-size: 24px;
    color: #f9faf8;
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px 20px 80px;
}

.header-text{
    font-weight: 900;
}

.header-links{
    font-size: 18px;
}
.content-one{
    color: #f9faf8;
    background-color: #1f2937;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding: 80px;
}

.content-maintext{
    flex: 1;
   
}

.maintext-header{
    font-size: 34px;
    font-weight: 1000;
}

.image-placeholder{
    display: flex;
    flex: 1;
    background-color: darkgray;
    height: 200px;
    margin-left: 40px;
    justify-content: center;
    align-items: center;
}

.content-two-header{
    font-size: 24px;
    font-weight: 900px;
    color: #1f2937;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 20px;
    margin-bottom: 80px;
  }

.info {
    max-width: 150px;
  }

.subtext {
    font-weight: 500;
    color: darkgray;
    max-width: 150px;

}

.quote{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    padding: 80px;

}

.quote-text{
    font-size: 28px;
    font-style: italic;
    color: #1f2937;
}

.quote-sign{
    text-align: end;
    font-size: 24px;
    font-weight: 1000px;
    color: #1f2937;
}

#button-one{
    padding: 5px 25px 5px 25px;
    font-weight: 700;
    border-radius: 10px;
    border-color: #1f2937;
    font-size: 18px;
    color: white;
    background-color: #3882f6;
}

#button-two{
    padding: 5px 25px 5px 25px;
    font-weight: 700;
    border-radius: 10px;
    border-color: white;
    font-size: 18px;
    color: white;
    background-color: #3882f6;
}

.action-call{
    background-color: #3882f6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 80px 100px;
    border-radius: 4px;
    margin-bottom: 80px;
}

.left-side{
    flex: 1;
    max-width: 300px;
}
.action-text{
    color: white;
}

.action-undertext{
    color: #f9faf8;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1f2937;
  }

.footer-text {
    font-size: 20px;
    color: #f9faf8;
}
a {
    text-decoration: none;
    color: darkgray;
  }


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
  }

body {
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

img {
    width: 150px;
    height: 150px;
  }